html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
/* 
body {
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
} */

/* .row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.grid-panel {
    align-content: center;
    width: 100%;
    text-align: center;
}

.bottom-row {
    transition: height 0.3s ease;
}

.bottom-row:hover {
    height: 200%;
}

.bottom-panel {
    background: rgba(155, 155, 155, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: width 0.3s ease;
}

.bottom-panel:hover {
    background: rgba(110, 110, 110, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200%;
}

a.button {
    margin: 0 5%;
    display: inline-block;       
    padding: 10px 0;          
    background-color: rgb(124, 124, 124);      
    color: white;                
    text-decoration: none;       
    border-radius: 5px;          
    font-size: 16px;             
    font-weight: 400;           
    text-align: center;          
}
a.button:hover {
    background-color: darkblue;  
}

.overlay {
  display: none;
  height: 90%;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 25%;
  align-content: center;
  text-align: center;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}